@import 'layouts/meta';

a, a:focus {
  text-decoration: none;
}

ul {
  padding: 0;
  margin: 0;
}

html {
  height: 100%;
  position: relative;
}

body {
  z-index: 0;
  padding-bottom: 0;
  background-color: #e4e6e9;
  height: 100%;
  font-family: 'Open Sans';
  font-size: 13px;
  color: #393939;
  line-height: 1.5;
}

[ng-view].ng-enter {
  transition: all 0.5s linear;
  opacity: 0;
}

[ng-view].ng-enter-active {
  opacity: 1;
}

.ng-hide-add {
  -webkit-animation: flipOutX 0.5s;
  animation: flipOutX 0.5s;
}

.ng-hide-remove {
  -webkit-animation: bounceIn 0.5s;
  animation: bounceIn 0.5s;
}

.main-container {
  position: static;
  padding: 0;
  height: 100%;
  .main-container-inner {
    position: relative;
    height: 100%;
    .sidebar {
      width: 190px;
      float: left;
      position: relative;
      border: 1px solid #ccc;
      border-width: 0 1px 0 0;
      background-color: #f2f2f2;
      &:before {
        content: "";
        display: block;
        width: 190px;
        position: fixed;
        bottom: 0;
        top: 0;
        z-index: -1;
        background-color: #f2f2f2;
        border: 1px solid #ccc;
        border-width: 0 1px 0 0;
        height: 100%;
      }
    }
    .main-content {
      margin-left: 190px;
      margin-right: 0;
      margin-top: 0;
      padding: 0;
      .breadcrumbs {
        position: relative;
        border-bottom: 1px solid #e5e5e5;
        background-color: #f5f5f5;
        min-height: 40px;
        line-height: 40px;
        padding: 0 12px 0 0;
        display: block;
      }
      .view-content {
        height: 100%;
        background: #fff;
        margin: 0;
        padding: 8px 20px 24px;
      }
    }
  }
}

.badge-info {
  background-color: #3a87ad !important
}

.badge-success {
  background-color: #82af6f !important
}

.badge-primary {
  background-color: #428bca !important
}

.badge-danger {
  background-color: #d15b47 !important
}

.badge-warning {
  background-color: #f89406 !important
}

#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: darkred;
  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;
  width: 100%;
  height: 2px;
}
