<div class="header" ng-controller="HeaderCtrl">
  <div class="navbar navbar-default" id="navbar">
    <div class="navbar-container" id="navbar-container">
      <div class="navbar-header pull-left">
        <a href="/" class="navbar-brand">
          <small>
            <i class="fa fa-leaf"></i>
            AcFun后台管理系统
          </small>
        </a><!-- /.brand -->
      </div><!-- /.navbar-header -->

      <div class="navbar-header pull-right" role="navigation">
        <ul class="nav">
          <li class="light-blue dropdown clearfix">

            <a ng-if="">
              <img class="nav-user-photo" src="../assets/avatars/avatar.png" alt="Jason's Photo">
								<span class="user-info">
									<small>欢迎光临,</small>
									Jason
								</span>

              <i class="fa fa-caret-down"></i>
            </a>

            <a data-toggle="dropdown" href="#" class="dropdown-toggle">
              <img class="nav-user-photo" src="../assets/avatars/avatar.png" alt="Jason's Photo">
								<span class="user-info">
									<small>欢迎光临,</small>
									Jason
								</span>

              <i class="fa fa-caret-down"></i>
            </a>

            <ul class="user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
              <li>
                <a href="#">
                  <i class="fa fa-cog"></i>
                  设置
                </a>
              </li>

              <li>
                <a href="#">
                  <i class="fa fa-user"></i>
                  个人资料
                </a>
              </li>

              <li class="divider"></li>

              <li>
                <a href="#">
                  <i class="fa fa-power-off fa-2"></i>
                  退出
                </a>
              </li>
            </ul>
          </li>
        </ul><!-- /.nav -->
      </div><!-- /.navbar-header -->
    </div><!-- /.container -->
  </div>
</div>